<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <nav id="mainNav" class="nav navbar navbar-default full-color">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/index">ELOQUENTLY</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="/index">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/workshops">Workshops</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/schedule">Schedule</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% post_url 2016-05-05-intro %}">Guides</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container post">
            <div class="row">
                <!--<div class="post-options pull-right">
                    <div class="show">
                        <a href="#postOptions" data-toggle="collapse" class="pull-right btn btn-default btn-sm">Display Options</a>
                    </div>
                    <div class="options collapse" id="postOptions">
                        <input type="checkbox" checked data-toggle="toggle" data-on="Annotations On" data-off="Annotations Off" data-onstyle="primary-light" data-width="175">
                        <br />
                        <input type="checkbox" checked data-toggle="toggle" data-on="Line Numbers On" data-off="Line Numbers Off" data-onstyle="primary-light" data-width="175">
                    </div>
                </div>-->
                <div class="post-content">
                    {{ content }}
                    {% if page.hide_blurb != true %}
                        <hr />
                        {% markdown blurb.md %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="push"></div>
    </div>

    {% include footer.html %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</body>

</html>
